body {
  padding-top: 40px;
  background: url("/images/mochaGrunge.png");
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.navbar-fixed-top {
  background-color: #fafafa;
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
}

.navbar .nav>li>a {
  color: #333;
  text-shadow: none;
}

.navbar .nav>li>a:hover {
  color: #33a;
}

.jumbotron {
  padding: 5px 15px 5px 45px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.25);
}

.title-highlight {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  color: #069;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}

.article {
  font-size: 15px;
  color: #555;
  background-color: #fafafa;
  padding: 15px 20px;
  border-radius: 8px 8px 8px 8px;
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
}

.highlight {
  margin: 5px 25px 5px 25px;
  border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  padding: 0;
  margin: 25px 0 10px;
  line-height: 1.2;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

pre {
  background-color: #222;
  color: #c0c3c1;
  font-size: 12px;
}

code {
  font-size: 12px;
  color: #555;
  background-color: transparent;
  border: none;
}

footer {
  text-align: center;
  padding: 25px;
}

footer>div {
  background-color: rgba(255,255,255,0.9);
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
  padding: 10px 0 0 0;
}
