[submodule "cmake/cotire"]
	path = cmake/cotire
	url = https://github.com/sakra/cotire.git
[submodule "bandit/assertion_frameworks/snowhouse"]
	path = bandit/assertion_frameworks/snowhouse
	url = https://github.com/banditcpp/snowhouse.git
[submodule "bandit/assertion_frameworks/matchers"]
	path = bandit/assertion_frameworks/matchers
	url = https://github.com/banditcpp/matchers
