<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>bandit - human friendly unit testing for C++11</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Syntax highlighting -->
        <link rel="stylesheet" href="css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/main.css">

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-7555170-3']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>

      <!-- TOP NAVIGATION BAR -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <ul class="nav">
            <li><a href="index.html">HOME</a></li>
            <li><a href="introduction.html">[INTRODUCTION]</a></li>
            <li><a href="testrunner.html">[TEST RUNNER]</a></li>
            <li><a href="reference.html">[REFERENCE]</a></li>
            <li><a href="assertions.html">[ASSERTIONS]</a></li>
            <li><a href="releases.html">[RELEASES]</a></li>
            <li><a href="issues.html">[ISSUES]</a></li>
          </ul>
        </div>
      </div>

      <!-- HEADER -->
      <header class="jumbotron">
        <div class="container">
          <h1 class="title-highlight">bandit</h1>
          <p class="title-subtitle">Human friendly unit testing for C++11</p>
        </div>
      </header>

      <!-- CONTENT -->
      <div class="container">
        {{ content }}
      </div>

      <!-- FOOTER -->
      <footer class="footer">
        <div class="container">
          <p>bandit is maintained by <a href="https://github.com/joakimkarlsson">joakimkarlsson</a>&nbsp;|&nbsp;Twitter: <a href="http://twitter.com/JHKarlsson">@jhkarlsson</a></p>
        </div>
      </footer>
    </body>
</html>
