<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Bandit by joakimkarlsson</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7555170-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Bandit</h1>
        <p>Human friendly unit testing for C++11</p>
        <p class="view"><a href="https://github.com/joakimkarlsson/bandit">View the Project on GitHub <small>joakimkarlsson/bandit</small></a></p>
        <ul>
          <li><a href="https://github.com/joakimkarlsson/bandit/archive/v1.0.0.zip">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/joakimkarlsson/bandit/archive/v1.0.0.tar.gz">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/joakimkarlsson/bandit">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>{{ content }}</section>
    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/joakimkarlsson">joakimkarlsson</a>&nbsp;(<a href="https://twitter.com/JHKarlsson">@jhkarlsson</a>)</p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
